<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/siteTemplate.css">
    <link rel="stylesheet" href="static/css/mainpage.css">
    <title>carve</title>
</head>
<body>
    <div class="headerBox">
        <img src={{ user_image }} height="100px" width="100px" id="LogoImage">
        <form action="/mainpage" method="get">
            <button class="homeLinkButton LinkButtonTemplate" type="submit">ホーム</button>
        </form>
        <form action="/calender" method="get">
            <button class="calendarLinkButton LinkButtonTemplate" type="submit">カレンダー</button>
        </form>
        <form action="/category" method="get">
            <button class="categoryLinkButton LinkButtonTemplate selectButtonLine" type="submit">カテゴリー</button>
        </form>
        <form action="/history" method="get">
            <button class="historyLinkButton LinkButtonTemplate" type="submit">読書履歴</button>
        </form>
        <input type="text" class="searchTextBox" placeholder="検索"></input>
    </div>
</body>
</html>